@model IList<AspNetMVC.Models.Produto>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Lista de Produtos</h3>
                </div>
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nome</th>
                                <th>Quantidade</th>
                                <th align="center">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var produto in Model)
                            {
                                <tr>
                                    <td>@produto.Id</td>
                                    <td>
                                        @Html.RouteLink(produto.Nome, "VisualizaProduto", new { id = produto.Id })
                                    </td>
                                    <td id="quantidade@(produto.Id)">@produto.Quantidade</td>
                                    <td align="center">
                                        <a href="#" onclick="decrementa(@produto.Id);" class="btn btn-danger" data-toggle="tooltip" title="Decrementar"><i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    function decrementa(produtoId){
    var url = "@Url.Action("DecrementaQtd", "Produto")";
    $.post(url, { id : produtoId}, atualiza);
    }

    function atualiza(result){
        $("#quantidade" + result.Id).html(result.Quantidade);
    }
</script>